{{yield}}

{{#link-to 'tour' tour}}
<div class="image-gradient-dynamic">
  <picture>
    <source media="(min-width: 993px)" {{bind-attr srcset=tour.desktop_splash}} />

    <source media="(min-width: 767px)" {{bind-attr srcset=tour.tablet_splash}} />

    <img {{bind-attr src=tour.phone_splash}} />
  </picture>
  <div class="overlay"></div>
  <div class="copy">
    <h2>{{tour.name}}</h2>
  </div>
</div>
{{/link-to}}

<div class="container">
  <h2>{{tour.name}}</h2>
  <p>{{{tour.description}}}</p>
  {{#link-to 'tour' tour}}
    <button>Start Tour</button>
  {{/link-to}}
</div>
