<div class="tour-stop">

  <header class="centered-navigation" role="banner">
    <div class="centered-navigation-wrapper">
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show tour-stop-nav">
          <li class="nav-link">{{#link-to 'tour' model.tour.slug}}Home{{/link-to}}</li>
          <li class="nav-link title">
            {{model.name}}
          </li>
        </ul>
        <div class="stop-nav-right">
          {{#if model.geospatial}}
            <button {{action "showDirections" model.lat model.lng model.park_lat model.park_lng false}} class="map-preview">
              <img {{bind-attr src=model.map_image}}>
              <div class="details-button">Details</div>
            </button>
          {{/if}}
        </div>
      </nav>
    </div>
  </header>


  <section>

    <article class="stop-article">

      <div class="swiper-container">
        <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->

              {{#if model.video_embed}}
                <div class="swiper-slide">
                         {{image-modal stop=model}}
                    </div>
                  {{/if}}


              {{#each image in model.images}}
                <div class="swiper-slide">
                  {{image-modal image=image}}
                </div>
              {{/each}}
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
      </div>

      {{{model.description}}}

    </article>

    {{#if model.geospatial}}
      <div class="stop-directions">
        {{partial "loading"}}
        <section>


          {{ember-selectize
            id="mode_select"
            content=model.direction_modes
            optionValuePath="content"
            optionLabelPath="content"
          }}
          <div class="geoservice-warning">
            <h2>Location Services Disabled</h2>
            <p>Sorry, we need to be able to access your location in order to display directions.</p>
          </div>


          <div class="button-group">
            <label>
              <input type="radio" name="button-group" value="item" id="map-button" checked>
              <span class="button-group-item">Map</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="other-item" id="directions-button">
              <span class="button-group-item">Directions</span>
            </label>
            {{#if model.direction_notes}}
            <label>
              <input type="radio" name="button-group" value="other-item" id="direction-notes-button">
              <span class="button-group-item">Notes</span>
            </label>
            {{/if}}
          </div>

          <button id="reload-map-button" {{action "showDirections" model.lat model.lng model.park_lat model.park_lng true}} class="map-preview">Reload Map</button>

          <div style="position:relative;">

            <div class="map-canvas"></div>

            <div id="directions"><div class="fallback">
              Approximate Address: <span class="address"></span>
              <span class="address-warn"></span>
            </div></div>

            <div id="direction-notes">{{{model.direction_notes}}}</div>

          </div>


        </section>
      </div>
    {{/if}}

  </section>



  <nav class="stop-nav">
    <div class="previous-button">
      {{#if previous_stop}}
        {{#link-to 'tour_stop' model.previous_stop}}
          <button {{action "hideMap"}}>Previous</button>
        {{/link-to}}
      {{else}}
        &nbsp;
      {{/if}}
    </div>
    <div class="next-button">
      {{#if next_stop}}
        {{#link-to 'tour_stop' model.next_stop}}
          <button {{action "hideMap"}}>Next</button>
        {{/link-to}}
      {{else}}
        &nbsp;
      {{/if}}
    </div>
  </nav>

</div>
