<div class="menu-wrap">
  <nav class="menu-top">
    <div class="icon-list">
      <a id="tours-home" href="/" title="Tour Lists"><span class="fa fa-fw fa-sign-out fa-flip-horizontal"></span></a>
      {{#if model.info_ids}}
        {{#link-to 'tour' model.slug title='Tour Home' id="tour-home-link"}}<span class="fa fa-fw fa-home"></span>{{/link-to}}
        {{#each info in model.info_ids}}
          {{#link-to 'tour_info' info title=info.name}}<span {{bind-attr class=":fa :fa-fw info.icon"}}></span>{{/link-to}}
        {{/each}}
      {{/if}}
      <form class="search-bar" role="search">
        <input type="search" placeholder="Enter Search" class="tour-search"/>
        <button type="submit" {{action 'search'}}>
          <span class="fa fa-fw fa-search"></span>
        </button>
      </form>
    </div>
  </nav>
  <nav class="menu-side">
    {{#each stop in model.stop_ids}}
        {{#if stop.intro}}
          <a href="#" {{action 'goToLink' stop.tour_slug stop.id}}><span class="fa fa-fw fa-star-o"></span> {{stop.name}}</a>
        {{else}}
          <a href="#" {{action 'goToLink' stop.tour_slug stop.id}}><span class="number-icon">{{stop.position}}</span> {{stop.name}}</a>
        {{/if}}
    {{/each}}
    {{#if model.geospatial}}
      <a href="#" {{action 'goToLink' stop.tour_slug "map-overview"}}><span class="fa fa-fw fa-map-marker"></span> Map Overview</a>
    {{/if}}
  </nav>
</div>

<button class="menu-button" id="open-button">Open Menu</button>
<div class="content-wrap">

  {{peakaboo-header model=model}}

  {{outlet "info"}}

  {{outlet "search"}}

  <div class="tour-detail">
    <section class="tour-list">
      {{#each stop in model.stop_ids}}

          {{#if stop.intro}}
            <article class="tour-intro tour-section" {{bind-attr id="stop.id"}}>
              <div class="container">
                <header>
                    <h2 class="tour-section-heading">{{stop.name}}</h2>
                </header>
                <section class="description">
                  {{{stop.description}}}
                </section>
              </div>
            </article>

          {{else}}
            <article class="tour-stop tour-section" {{bind-attr id="stop.id"}}>
              <div  class="container">
                <header>
                  <div class="prefix">
                    <span class="stop-number">{{stop.position}}</span>
                  </div>

                  <h2 class="tour-section-heading"> {{stop.name}}</h2>

                  {{#if model.geospatial}}
                  <div class="tour-section-thumbnail">
                      <a href="#" {{action 'openStopMap' stop}}>
                        <img {{bind-attr src=stop.map_image}}/>
                      </a>
                  </div>
                  {{/if}}
                </header>

                <div class="wrapper">
                  <section class="description">
                    {{tour-slider stop=stop}}
                    <div class="container">
                      {{{stop.description}}}
                    </div>
                  </section>

                  <section class="directions">
                      {{tour-directions stop=stop notes=stop.direction_notes intro=stop.directions_intro}}
                  </section>
                </div>

              </div>
            </article>
          {{/if}}

      {{/each}}

      {{#if model.geospatial}}
      <article class="tour-section tour-map" id="map-overview">
        <div  class="container">
          <header>
              <h2 class="tour-section-header">Map Overview</h2>
          </header>
        </div>
        {{overview-map model=model}}
      </article>
      {{/if}}

    </section>

  </div>
</div>
