<div class="menu-wrap">
  <nav class="menu-top">
    <div class="icon-list">
      <a href="/"><span class="fa fa-fw fa-home"></span></a>
      <a href="#"><span class="fa fa-fw fa-bell-o"></span></a>
      <a href="#"><span class="fa fa-fw fa-envelope-o"></span></a>
      <a href="#"><span class="fa fa-fw fa-comment-o"></span></a>
    </div>
  </nav>
  <nav class="menu-side">
    {{#each stop in model.stop_ids}}
        {{#if stop.intro}}
          <a href="#" {{action 'goToLink' stop.slug}}><span class="fa fa-fw fa-star-o"></span> {{stop.name}}</a>
        {{else}}
          <a href="#" {{action 'goToLink' stop.slug}}><span class="number-icon">{{stop.position}}</span> {{stop.name}}</a>
        {{/if}}
    {{/each}}
      <a href="#" {{action 'goToLink' "map-overview"}}><span class="fa fa-fw fa-map-marker"></span> Map Overview</a>
  </nav>
</div>

<button class="menu-button" id="open-button">Open Menu</button>
<div class="content-wrap">

  {{peakaboo-header model=model}}

  <div class="tour-detail">

    <section class="tour-list">
      {{#each stop in model.stop_ids}}

          {{#if stop.intro}}
            <article class="tour-intro tour-section" {{bind-attr id="stop.slug"}}>
              <div  class="container">
                <header>
                    <h2 class="tour-section-header">{{stop.name}}</h2>
                </header>
                <section class="description">
                  {{{stop.description}}}
                </section>
              </div>
            </article>

          {{else}}
            {{!-- {{#link-to 'tour_stop' stop}} --}}
            <article class="tour-stop tour-section" {{bind-attr id="stop.slug"}}>
              <div  class="container">
                <header>
                  <div class="prefix">
                    <span class="stop-number">{{stop.position}}</span>
                  </div>

                  <h2 class="tour-section-header"> {{stop.name}}</h2>

                  <div class="tour-section-thumbnail">
                    {{#if model.geospatial}}
                      <a href="#" {{action 'openStopMap' stop}}>
                        <img {{bind-attr src=stop.map_image}}/>
                      </a>

                    {{else}}
                      {{#each image in stop.images}}
                        <a href="javascript:void(null);">
                          <img {{bind-attr src=image.image_preview}}/>
                        </a>
                      {{/each}}
                    {{/if}}
                  </div>
                </header>

                <div class="wrapper">
                  <section class="description">
                    {{tour-slider stop=stop}}
                    <div class="container">
                      {{{stop.description}}}
                    </div>
                  </section>

                  <section class="directions">
                      {{tour-directions stop=stop}}
                  </section>
                </div>

              </div>
            </article>
          {{/if}}

      {{/each}}

      <article class="tour-section tour-map" id="map-overview">
        <div  class="container">
          <header>
              <h2 class="tour-section-header">Map Overview</h2>
          </header>
        </div>
        {{overview-map model=model}}
      </article>

    </section>

  </div>
</div>
