<h1>{{model.name}}</h1>
{{#each stop in model.stop_ids}}

	<img {{bind-attr src=stop.map_image}}>
	<h2>{{#link-to 'tour_stop' stop}}{{stop.position}}. {{stop.name}} {{/link-to}}</h2>

{{/each}}
<ul>
	{{#each info in model.info_ids}}
		<li>{{info.name}}</li>
	{{/each}}
</ul>
{{outlet}}