<div class="tour-stop">

	<header class="centered-navigation" role="banner">
		<div class="centered-navigation-wrapper">
			<nav role="navigation">
				<ul id="js-centered-navigation-menu" class="centered-navigation-menu show tour-stop-nav">
					<li class="nav-link">{{#link-to 'tour' model.tour.slug}}Home{{/link-to}}</li>
					<li class="nav-link title">
						{{model.name}}
					</li>
				</ul>
				<div class="stop-nav-right">
					{{#if model.geospatial}}
						<button {{action "showDirections" model.lat model.lng model.park_lat model.park_lng}} class="map-preview">
							<img {{bind-attr src=model.map_image}}>
						</button>
					{{/if}}
				</div>
			</nav>
		</div>
	</header>


	<section>
		{{#if model.video_embed}}
			hello
		{{/if}}
		<div>
			{{!--<ul>
			{{# if model.images}}
				<li>{{#each image in model.images}}{{image.image}}{{/each}}</li>
			{{/if}}
			</ul>--}}
		</div>
		
		<article class="stop-article">{{{model.description}}}</article>

		{{#if model.geospatial}}
			<div class="stop-directions">
				{{partial "loading"}}
				<section>
					

					{{ember-selectize
						id="mode_select"
						content=model.direction_modes
						optionValuePath="content"
						optionLabelPath="content"
					}}
					<div class="geoservice-warning">
						<h2>Location Services Disabled</h2>
						<p>Sorry, we need to be able to access your location in order to display directions.</p>
					</div>
					<div class="map-canvas"></div>
					<div class="fallback">
						Approximate Address: <span class="address"></span>
						<span class="address-warn"></span>
					</div>
					<div id="directions"></div>
				</section>
			</div>
		{{/if}}

	</section>

	

	<nav class="stop-nav">
		<div class="previous-button">
			{{#if previous_stop}}
				{{#link-to 'tour_stop' model.previous_stop}}
					<button {{action "hideMap"}}>Previous</button>
				{{/link-to}}
			{{else}}
				&nbsp;
			{{/if}}
		</div>
		<div class="next-button">
			{{#if next_stop}}
				{{#link-to 'tour_stop' model.next_stop}}
					<button {{action "hideMap"}}>Next</button>
				{{/link-to}}
			{{else}}
				&nbsp;
			{{/if}}
		</div>
	</nav>
	
</div>