{{outlet}}
<h1>{{model.name}}</h1>

{{#if model.video_embed}}
	hello
{{/if}}
<div>
	{{!--<ul>
	{{# if model.images}}
		<li>{{#each image in model.images}}{{image.image}}{{/each}}</li>
	{{/if}}
	</ul>--}}
</div>
<article>{{{model.description}}}</article>

{{#if model.geospatial}}
	<img {{bind-attr src=model.map_image}}>
	{{stop-directions latitude=model.lat longitude=model.lng mode="TRANSIT" modes=model.direction_modes}}
{{/if}}

{{#if previous_stop}}
	{{#link-to 'tour_stop' model.previous_stop}}Previous{{/link-to}}
{{/if}}

{{#if next_stop}}
	{{#link-to 'tour_stop' model.next_stop}}Next{{/link-to}}
{{/if}}