<nav class="top-nav">
	{{back-button}}
	<div class="tour-title"><h1>{{model.name}}</h1></div>
	{{menu-button infos=model.info_ids}}
</nav>


<div class="tour-detail">

	<section class="stop-list">
		{{#each stop in model.stop_ids}}
			
				{{#if stop.intro}}
					<div class="stops">
					{{#link-to 'tour_stop' stop}}
						<div class="intro-link">
							<h2>{{stop.name}}</h2>
						</div>
						{{/link-to}}
					</div>

					<div class="stop-header">
						<h2>Tour Stops</h2>
					</div>

				{{else}}
					{{#link-to 'tour_stop' stop}}
					<div class="stops">
						<div class="thumbnail">
							{{#if geospatial}}
								<img {{bind-attr src=stop.map_image}}/>
							{{else}}
								{{#each image in stop.images}}
									<img {{bind-attr src=image.image_preview}}/>
								{{/each}}
							{{/if}}
						</div>
						<div class="stop-link">
							<h2>{{stop.position}}. {{stop.name}}</h2>
						</div>
					</div>
					{{/link-to}}
				{{/if}}
				
		{{/each}}
	</section>
	<section>{{outlet}}</section>
</div>

<div class="overview-map">
	{{overview-map}}
</div>

<div>
	<nav class="tour-overview">
		{{toggle-list action="toggleList"}}
		{{toggle-map action="mapTour"}}
	</nav>
</div>
